body {
  background: #dcf6ff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-width: 800px;
  overflow: overlay;
}

.app {
  max-width: 1300px;
  margin: auto;
  padding: 20px 0;
}

.header-container {
  display: flex;
  justify-content: center;
  height: auto;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #808080;
}

.header-container > div {
  width: 50%;
  height: 100%;
}

.title {
  text-align: center;
}

.title h1 {
  font-weight: bold;
  font-size: 60px;
  padding: 10px
}

.title h2 {
  font-size: 30px;
}

.search-bar {
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  width: 80%;
  background: #ffffff;
}

.link-share {
  position: relative;
  width: 100%;
}

.share-button {
  padding: 7px;
  position: absolute;
  top: 7px;
  color: #5a5a5a;
  transition: all .1s;
  border-radius: 10px;
  animation-name: fadeIn;
  animation-duration: .3s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.share-button:hover {
  color: #2e2eff;
  text-decoration: underline;
  font-size: 18px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}